<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h2>Audit Logs</h2>

    <table border="1" width="100%" id="auditTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Action</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody id="auditBody">
            <!-- data loads here -->
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='audit.js') }}"></script>
</body>

</html>