<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <form autocomplete="off">

        <input
            type="email"
            id="email"
            name="login_email"
            autocomplete="off"
            placeholder="Enter your email"
        >

        <div class="password-box">

            <input
                type="password"
                id="password"
                name="login_password"
                autocomplete="new-password"
                placeholder="Enter your password"
            >

            <span onclick="togglePassword()" class="toggle-eye">
                👁
            </span>

        </div>

        <!-- Forgot Password -->
        <div class="forgot-password">
            <a href="/forgot-password">Forgot Password?</a>
        </div>

        <button type="button" onclick="login()">
            Login
        </button>

        <p id="RDE"></p>

        <p>
            Don't have an account?
            <a href="/register">Register</a>
        </p>

    </form>

</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>